<h1>Listing customers</h1>
 
<table>
  <tr>
    <th>Customer Name</th>
    <th>Industry</th>
    <th>Email</th>
    <th>Phone</th>
    <th>Notes</th>
  </tr>
 
  <% @customers.each do |customer| %>
    <tr>
      <td><%= customer.CustomerName %></td>
      <td><%= customer.Industry %></td>
       <td><%= customer.Email %></td>
        <td><%= customer.Phone %></td>
         <td><%= customer.Notes %></td>
      <td><%= link_to 'Show', customer_path(customer) %></td>
    </tr>
  <% end %>
</table>