
<p>
  <strong>Name:</strong>
  <%= @customer.CustomerName %>
</p>
 
<p>
  <strong>Industry:</strong>
  <%= @customer.Industry %>
</p>

<p>
  <strong>Email:</strong>
  <%= @customer.Email %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @customer.Phone %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @customer.Notes %>
</p>

<%= link_to 'Back', customers_path %>